body {
    background-color: azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 5%;
}

.list-container {
    border-radius: 10px;
    background-color:rgb(202, 238, 241) ;
    min-height: 150px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

